<h2><%= @theme.title %></h2>

<div id="ace-editor" class=" ace_editor ace-tm">

</div>

<div id="onthefly">

	Загрузка...

</div>
	

<div class="hidden">

	<div class="text-text">
				
				
		<%= @theme.content %>

	</div>

</div>
