
<ul>
	<% @courses.each do |course| %>
		
		<li><%= link_to course.title, edit_course_path(course)  %>
			<ul>
				<% course.subjects.each do |subject| %>
					<li>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to subject.title, edit_subject_path(subject)  %></li>
				<% end %>
			</ul>
		</li>

	<% end %>

</ul>	

